.background-div1{
    background-image: url(../../../../public/images/div1-apps.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-top: -5%;
    width: 98.8vw;
    background-repeat: no-repeat;
    height: 92vh;
    background-position-y: 90%;
}

.background-div1 button{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-weight: 700;
}

.title-div1{
    color: #FFF;
    text-align: center;
    text-shadow: 1px 4px 0px #000;
    font-family: Poppins;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    line-height: 114%; /* 84.36px */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 1%;
}

.text-div1{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    font-family: Poppins;
    width: 50%;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 114%; /* 35.34px */
    margin-bottom: 1%;

}