.metodologia-background{
    background-image: url(../../../../public/images/metodologia-background.webp);
    width: 98.8vw;
    height: 150vh;
    background-repeat: no-repeat;
    margin-top: -10%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-metodologia{
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #000;
    font-family: Poppins;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    margin-top: -12.5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.div-metologia-infos{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.text-metodologia{
    color: #FFF;
    text-shadow: 2px 2px 0px #000;
    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.39px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.subtitle-metodologia{
    color: #FFF;
    text-shadow: 2px 2px 0px #000;
    font-family: Poppins;
    font-size: 2em;
    font-style: normal;
    text-align: center;
    font-weight: 800;
    line-height: 114%; /* 54.72px */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.text-cursos-metodologia{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 32.5px; /* 125% */
    letter-spacing: -0.39px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.item-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5%;
    width: 300px;
    height: 393px;
    border-radius: 34px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px 0px #000;
}

.robotica{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.84) 100%), url(../../../../public/images/robotica.jpg), lightgray -350.772px 0px / 209.551% 100% no-repeat;
    background-position-x: 65%;
}

.title-item-curso{
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 114%; /* 38.76px */
    margin-bottom: 2.5%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}